// Font
$mainFont : "Rubik",
sans-serif;

// Size
$mainFontColor : #101010;
$mainFontSize : 18px;
// $mainFontWeight : 400;
$mainFontWeight : 400;
$mainLineHeight : 1.4;

$desktopWidth : 1280px;
$smDesktopWidth : 980px;
$tableWidth : 768px;
$phoneWidth : 480px;
$smPhoneWidth : 320px;

// Neutral Color
$neutral-primary : #303133;
$neutral-placeholder : #C0C4CC;

$background-color: rgba(204, 204, 204, 1.0);
$input-background: rgba(243, 200, 150, 0.829);
$shadow: rgba(122, 126, 136, 0.623);
$shadow-color: rgba(76, 72, 68, 0.623);
$orange: rgba(223, 152, 0, 1.0);
$purple: rgba(129, 77, 179, 1.0);
$link-color: rgb(242, 246, 252);
$title-color: rgb(41, 35, 38);
$hover-color: rgb(255, 150, 45);
$danger-color: rgb(255, 51, 0);