.add-user-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &__field {
        margin: rem(8);
        width: 310px;
    }
}