.title {
    font-size: rem(43);
    text-shadow: -1px -3px 5px $shadow-color;
    color: $title-color;

    &-header {
        width: 100%;
        text-align: center;
        min-height: rem(70);
        position: relative;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            display: block;
            width: 80%;
            height: rem(8);
            border: none;
            border-radius: 10px;
            background: linear-gradient(-45deg, $background-color, $purple, $orange, $background-color, $hover-color);
            background-size: 400% 400%;
            animation: gradientBG 15s ease infinite;
        }
    }

    &-validate {
        font-size: rem(22);
        color: $danger-color;
        text-shadow: none;
    }

    &-admin {
        @media screen and (max-width: $tableWidth) {
            text-align: center;
        }
    }

}

.link {
    transition: .7s all;
    font-size: rem(20);
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $hover-color;
        @include text-shadow;
    }
}

.input {
    text-align: center;
    padding: rem(8);
    // padding: rem(12);
    font-size: 22px;
    border-radius: 5px;
    transition: .7s all;
    border: 2px solid $neutral-placeholder;
    box-shadow: 0px 0px 5px 3px $shadow;

    &:focus {
        background: $input-background;
        border: 2px solid $neutral-primary;
        box-shadow: 0 0 5px 6px $shadow;
    }
}

.button {
    text-transform: uppercase;
    transition: .5s;
    font-size: rem(22);
    background: none;
    font-weight: 700;
    border-radius: 10px;
    padding: rem(8);
    cursor: pointer;
    border: 2px solid $neutral-placeholder;
    box-shadow: 0px 0px 5px 3px $shadow;

    &:focus {
        background: $input-background;
        border: 2px solid $neutral-primary;
        box-shadow: 0 0 5px 6px $shadow;
    }
}