.user {
    &-section {
        margin: rem(20) 0;

        &__header {
            display: flex;
            justify-content: space-between;

            a {
                font-weight: 500;
            }
        }

        &__filters {
            display: flex;
            flex-wrap: wrap;
        }

        &__filter {
            padding: 10px;
        }
    }
}

.field {
    font-size: 22px;
    font-weight: 500;

    &__value {
        font-size: 18px;
        font-weight: 400;
        margin-left: 20px;
    }
}

.fields {
    padding: 0 20px;
}

.slider {
    display: flex;
    justify-content: center;

    &-wrapper {
        height: 520px;
        width: 800px;
    }

    &-img {
        height: 520px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            min-height: 100%;
        }
    }
    // display: flex;
    // justify-content: center;
}
